pip install azure-cognitiveservices-vision-customvision 
pip install secure-smtplib
pip install selenium
pip install email
pip install firebase
pip install python-jwt
pip install gcloud
pip install firebase-admin
pip install sseclient
pip install pycrypto
pip install pycryptodome
pip install PIL
